/**
 * Global color definition
 */
@import url(iconfont/iconfont.css);
.image-list-view {
  user-select: none;
  width: 100%; }
  .image-list-view .preview {
    position: relative;
    padding: .2rem .2rem .4rem;
    overflow: hidden;
    width: 100%; }
    .image-list-view .preview .img-list {
      display: flex;
      justify-content: flex-start;
      overflow: hidden; }
      .image-list-view .preview .img-list .img-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        margin-right: .04rem;
        width: 1.6rem;
        height: 1.5rem;
        border: 0.01rem solid #ededee; }
        .image-list-view .preview .img-list .img-item .img-container {
          height: 1rem; }
          .image-list-view .preview .img-list .img-item .img-container img {
            max-width: 1.5rem;
            max-height: 1rem;
            cursor: zoom-in; }
        .image-list-view .preview .img-list .img-item .text {
          width: 100%;
          height: .2rem;
          line-height: .2rem;
          font-size: .12rem;
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        .image-list-view .preview .img-list .img-item .control {
          display: flex;
          justify-content: space-between;
          width: 100%;
          padding: .05rem .02rem; }
          .image-list-view .preview .img-list .img-item .control .btn {
            flex-grow: 1;
            margin: 0 .02rem;
            height: .2rem;
            line-height: .2rem;
            font-size: .12rem;
            cursor: pointer; }
            .image-list-view .preview .img-list .img-item .control .btn > .icon {
              font-size: .12rem; }
          .image-list-view .preview .img-list .img-item .control .btn-disabled {
            cursor: not-allowed;
            color: #cdcdce; }
      .image-list-view .preview .img-list .img-item:last-child {
        margin-right: 0; }
    .image-list-view .preview > .icon {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      font-size: .2rem;
      line-height: .2rem;
      height: .2rem;
      cursor: pointer;
      color: #000000; }
    .image-list-view .preview > .icon:hover {
      color: #fafafa;
      text-shadow: 0 0 .3rem #3c3d3e; }
    .image-list-view .preview .icon-arrow-left {
      left: 0; }
    .image-list-view .preview .icon-arrow-right {
      right: 0; }
  .image-list-view .full-img-container {
    position: fixed;
    z-index: 10001;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    line-height: 100vh;
    overflow: scroll;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6); }
    .image-list-view .full-img-container img {
      background-color: #ffffff;
      cursor: zoom-out; }
    .image-list-view .full-img-container .icon {
      position: fixed;
      z-index: 10002;
      top: .1rem;
      right: .1rem;
      font-size: .2rem;
      line-height: .2rem;
      height: .2rem;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.6); }
    .image-list-view .full-img-container .icon:hover {
      color: rgba(255, 145, 0, 0.6); }

.image-preview-view {
  user-select: none;
  position: fixed;
  z-index: 101;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
  .image-preview-view .mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6); }
  .image-preview-view .preview {
    z-index: 102;
    position: absolute;
    padding: .2rem .2rem .4rem;
    overflow: hidden;
    width: 80vw;
    height: 70vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: #ffffff; }
    .image-preview-view .preview .img-container {
      position: relative;
      width: 100%;
      height: 58vh;
      line-height: 58vh;
      text-align: center; }
      .image-preview-view .preview .img-container .icon {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        font-size: .6rem;
        line-height: .6rem;
        height: .6rem;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.3); }
      .image-preview-view .preview .img-container .icon:hover {
        text-shadow: 0 0 0.3rem #3c3d3e; }
      .image-preview-view .preview .img-container .icon-arrow-left {
        left: .3rem; }
      .image-preview-view .preview .img-container .icon-arrow-right {
        right: .3rem; }
      .image-preview-view .preview .img-container .preview-img {
        max-width: 100%;
        max-height: 100%;
        vertical-align: middle;
        cursor: zoom-in; }
    .image-preview-view .preview .img-list {
      display: flex;
      justify-content: flex-start;
      overflow: hidden;
      margin: 1vh 0;
      width: 100%;
      height: 8vh; }
      .image-preview-view .preview .img-list .img-item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: .04rem;
        width: calc(100% / 9);
        height: 100%;
        background-color: #ffffff;
        cursor: pointer; }
        .image-preview-view .preview .img-list .img-item img {
          opacity: .4;
          max-width: calc(100% - .01rem);
          max-height: calc(100% - .01rem);
          border: .01rem solid #ffffff; }
      .image-preview-view .preview .img-list .img-item:last-child {
        margin-right: 0; }
      .image-preview-view .preview .img-list .selected-item {
        border: 0.03rem solid #ff9100; }
        .image-preview-view .preview .img-list .selected-item img {
          opacity: 1; }
  .image-preview-view .full-img-container {
    position: fixed;
    z-index: 103;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    line-height: 100vh;
    overflow: scroll;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6); }
    .image-preview-view .full-img-container img {
      vertical-align: middle;
      background-color: #ffffff;
      cursor: zoom-out; }
    .image-preview-view .full-img-container .icon {
      position: fixed;
      z-index: 10002;
      top: .1rem;
      right: .1rem;
      font-size: .2rem;
      line-height: .2rem;
      height: .2rem;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.6); }
    .image-preview-view .full-img-container .icon:hover {
      color: rgba(255, 145, 0, 0.6); }

.fade-transition {
  transition: all .5s ease; }

.fade-enter, .fade-leave {
  opacity: 0; }

html, body {
  font-size: 100px; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #3c3d3e;
  margin-top: 60px;
  font-size: .16rem; }
  #app > .component-container {
    margin: .05rem;
    padding: .05rem;
    border: 0.02rem solid #ededee; }
    #app > .component-container > .introduction-area {
      margin: .2rem; }
      #app > .component-container > .introduction-area > .type {
        font-size: .16rem; }
        #app > .component-container > .introduction-area > .type > .name {
          margin-left: .2rem;
          font-size: .2rem;
          font-weight: bold; }
      #app > .component-container > .introduction-area > .intro {
        margin: .05rem 0; }
    #app > .component-container > .reset-btn {
      font-size: .2rem;
      padding: .05rem;
      background-color: transparent; }
    #app > .component-container > .img-list {
      display: flex;
      flex-wrap: wrap; }
      #app > .component-container > .img-list .img-container {
        margin: .05rem; }
        #app > .component-container > .img-list .img-container .thumb-img {
          max-width: 1rem;
          max-height: .7rem;
          cursor: pointer; }

/*# sourceMappingURL=index.css.map */
