@charset "UTF-8";

@import "iconfont/iconfont.css";
@import "./components/imageList/index.scss";

html, body {
    font-size: 100px;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}
