@charset "UTF-8";

/**
 * Global color definition
 */
$color: (
    color: #3c3d3e, // default font color
    sub-color: #6d6d6e, // sub font color
    doc-bgcolor: #efefef,
    placeholder-color: #cdcdce,
    input-bg-color: #f8f8f8,
    disabled-color: #cdcdce,
    border-color: #ededee,
    light-color: #ff9100,
    link-color: #ff9100,
);
