@charset "UTF-8";

.image-list-view {
    user-select: none;
    width: 100%;
    .preview {
        position: relative;
        padding: .2rem .2rem .4rem;
        overflow: hidden;
        width: 100%;
        .img-list {
            display: flex;
            justify-content: flex-start;
            overflow: hidden;
            .img-item {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                margin-right: .04rem;
                width: 1.6rem;
                height: 1.5rem;
                border: .01rem solid map_get($color, border-color);
                .img-container {
                    height: 1rem;
                    img {
                        max-width: 1.5rem;
                        max-height: 1rem;
                        cursor: zoom-in;
                    }
                }
                .text {
                    width: 100%;
                    height: .2rem;
                    line-height: .2rem;
                    font-size: .12rem;
                    text-align: center;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .control {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    padding: .05rem .02rem;
                    .btn {
                        flex-grow: 1;
                        margin: 0 .02rem;
                        height: .2rem;
                        line-height: .2rem;
                        font-size: .12rem;
                        cursor: pointer;
                        > .icon {
                            font-size: .12rem;
                        }
                    }
                    .btn-disabled {
                        cursor: not-allowed;
                        color: map_get($color, disabled-color);
                    }
                }
            }
            .img-item:last-child {
                margin-right: 0;
            }
        }
        > .icon {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            -webkit-transform: translate(0, -50%);
            font-size: .2rem;
            line-height: .2rem;
            height: .2rem;
            cursor: pointer;
            color: #000000;
        }
        > .icon:hover {
            color: #fafafa;
            text-shadow: 0 0 .3rem #3c3d3e;
        }
        .icon-arrow-left {
            left: 0;
        }
        .icon-arrow-right {
            right: 0;
        }
    }
    .full-img-container {
        position: fixed;
        z-index: 10001;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        line-height: 100vh;
        overflow: scroll;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.6);
        img {
            background-color: #ffffff;
            cursor: zoom-out;
        }
        .icon {
            position: fixed;
            z-index: 10002;
            top: .1rem;
            right: .1rem;
            font-size: .2rem;
            line-height: .2rem;
            height: .2rem;
            cursor: pointer;
            color: rgba(0, 0, 0, 0.6);
        }
        .icon:hover {
            color: rgba(255, 145, 0, 0.6);
        }
    }
}
